body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.input-group input[type="date"],
.input-group input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.input-persen input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 4%;
}


.btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #28a745;
}

#resultContainer {
  display: none;
  cursor: pointer;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}


 /* Tambahkan gaya untuk menu icon dan popup */
    .menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 8px;
        z-index: 1001;
    }

    .popup .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .popup .popup-header h3 {
        margin: 0;
    }

    .popup .popup-header .close-btn {
        font-size: 20px;
        cursor: pointer;
        border: none;
        background: none;
    }

    .popup-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .popup-buttons a {
        text-decoration: none;
        text-align: center;
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .popup-buttons a:hover {
        background-color: #0056b3;
    }

    /* Overlay untuk latar belakang popup */
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }